/**
 * Xillio Engine
 * No descripton provided (generated by Swagger Codegen https://github.com/swagger-api/swagger-codegen)
 *
 * OpenAPI spec version: 0.1
 * Contact: dev@sphereon.com
 *
 * NOTE: This class is auto generated by the swagger code generator program.
 * https://github.com/swagger-api/swagger-codegen.git
 * Do not edit the class manually.
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */


package com.sphereon.sdk.xillio.engine.api;

import com.sphereon.sdk.xillio.engine.handler.ApiCallback;
import com.sphereon.sdk.xillio.engine.handler.ApiClient;
import com.sphereon.sdk.xillio.engine.handler.ApiException;
import com.sphereon.sdk.xillio.engine.handler.ApiResponse;
import com.sphereon.sdk.xillio.engine.handler.Configuration;
import com.sphereon.sdk.xillio.engine.handler.Pair;
import com.sphereon.sdk.xillio.engine.handler.ProgressRequestBody;
import com.sphereon.sdk.xillio.engine.handler.ProgressResponseBody;

import com.google.gson.reflect.TypeToken;

import java.io.IOException;

import com.sphereon.sdk.xillio.engine.model.EntityResponse;
import com.sphereon.sdk.xillio.engine.model.ErrorResponse;

import java.lang.reflect.Type;
import java.util.ArrayList;
import java.util.HashMap;
import java.util.List;
import java.util.Map;

public class EntityApi {
    private ApiClient apiClient;

    public EntityApi() {
        this(Configuration.getDefaultApiClient());
    }

    public EntityApi(ApiClient apiClient) {
        this.apiClient = apiClient;
    }

    public ApiClient getApiClient() {
        return apiClient;
    }

    public void setApiClient(ApiClient apiClient) {
        this.apiClient = apiClient;
    }

    /* Build call for createEntity */
    private com.squareup.okhttp.Call createEntityCall(String configurationId, String path, List<String> scope, String include, String exclude, String entity, String contents, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;
        
        // verify the required parameter 'configurationId' is set
        if (configurationId == null) {
            throw new ApiException("Missing the required parameter 'configurationId' when calling createEntity(Async)");
        }
        
        // verify the required parameter 'path' is set
        if (path == null) {
            throw new ApiException("Missing the required parameter 'path' when calling createEntity(Async)");
        }
        

        // create path and map variables
        String localVarPath = "/entities/{configurationId}/{path}".replaceAll("\\{format\\}","json")
        .replaceAll("\\{" + "configurationId" + "\\}", apiClient.escapeString(configurationId.toString()))
        .replaceAll("\\{" + "path" + "\\}", apiClient.escapeString(path.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        if (scope != null)
        localVarQueryParams.addAll(apiClient.parameterToPairs("csv", "scope", scope));
        if (include != null)
        localVarQueryParams.addAll(apiClient.parameterToPairs("", "include", include));
        if (exclude != null)
        localVarQueryParams.addAll(apiClient.parameterToPairs("", "exclude", exclude));

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();
        if (entity != null)
        localVarFormParams.put("entity", entity);
        if (contents != null)
        localVarFormParams.put("contents", contents);

        final String[] localVarAccepts = {
            "application/json;charset=UTF-8"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            "multipart/form-data"
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] {  };
        return apiClient.buildCall(localVarPath, "POST", localVarQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    /**
     * Create a new Entity
     * Create a new Entity
     * @param configurationId The id of a configured repository. (required)
     * @param path The XDIP path to the entity. (required)
     * @param scope A comma-separated list of scopes. The available scopes are: children, entity. (default: entity) (optional, default to entity)
     * @param include A comma-separated list of projection rules. Decorators which match these rules will be included. All other decorators will be excluded. By default, all decorators are included. (optional)
     * @param exclude A comma-separated list of projection rules. Decorators which match these rules will be excluded. (optional)
     * @param entity  (optional)
     * @param contents  (optional)
     * @return EntityResponse
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public EntityResponse createEntity(String configurationId, String path, List<String> scope, String include, String exclude, String entity, String contents) throws ApiException {
        ApiResponse<EntityResponse> resp = createEntityWithHttpInfo(configurationId, path, scope, include, exclude, entity, contents);
        return resp.getData();
    }

    /**
     * Create a new Entity
     * Create a new Entity
     * @param configurationId The id of a configured repository. (required)
     * @param path The XDIP path to the entity. (required)
     * @param scope A comma-separated list of scopes. The available scopes are: children, entity. (default: entity) (optional, default to entity)
     * @param include A comma-separated list of projection rules. Decorators which match these rules will be included. All other decorators will be excluded. By default, all decorators are included. (optional)
     * @param exclude A comma-separated list of projection rules. Decorators which match these rules will be excluded. (optional)
     * @param entity  (optional)
     * @param contents  (optional)
     * @return ApiResponse&lt;EntityResponse&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<EntityResponse> createEntityWithHttpInfo(String configurationId, String path, List<String> scope, String include, String exclude, String entity, String contents) throws ApiException {
        com.squareup.okhttp.Call call = createEntityCall(configurationId, path, scope, include, exclude, entity, contents, null, null);
        Type localVarReturnType = new TypeToken<EntityResponse>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * Create a new Entity (asynchronously)
     * Create a new Entity
     * @param configurationId The id of a configured repository. (required)
     * @param path The XDIP path to the entity. (required)
     * @param scope A comma-separated list of scopes. The available scopes are: children, entity. (default: entity) (optional, default to entity)
     * @param include A comma-separated list of projection rules. Decorators which match these rules will be included. All other decorators will be excluded. By default, all decorators are included. (optional)
     * @param exclude A comma-separated list of projection rules. Decorators which match these rules will be excluded. (optional)
     * @param entity  (optional)
     * @param contents  (optional)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call createEntityAsync(String configurationId, String path, List<String> scope, String include, String exclude, String entity, String contents, final ApiCallback<EntityResponse> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = createEntityCall(configurationId, path, scope, include, exclude, entity, contents, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<EntityResponse>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /* Build call for deleteEntity */
    private com.squareup.okhttp.Call deleteEntityCall(String configurationId, String path, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;
        
        // verify the required parameter 'configurationId' is set
        if (configurationId == null) {
            throw new ApiException("Missing the required parameter 'configurationId' when calling deleteEntity(Async)");
        }
        
        // verify the required parameter 'path' is set
        if (path == null) {
            throw new ApiException("Missing the required parameter 'path' when calling deleteEntity(Async)");
        }
        

        // create path and map variables
        String localVarPath = "/entities/{configurationId}/{path}".replaceAll("\\{format\\}","json")
        .replaceAll("\\{" + "configurationId" + "\\}", apiClient.escapeString(configurationId.toString()))
        .replaceAll("\\{" + "path" + "\\}", apiClient.escapeString(path.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            "application/json;charset=UTF-8"
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] {  };
        return apiClient.buildCall(localVarPath, "DELETE", localVarQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    /**
     * Delete an existing Entity
     * Delete an existing Entity
     * @param configurationId The id of a configured repository. (required)
     * @param path The XDIP path to the entity. (required)
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public void deleteEntity(String configurationId, String path) throws ApiException {
        deleteEntityWithHttpInfo(configurationId, path);
    }

    /**
     * Delete an existing Entity
     * Delete an existing Entity
     * @param configurationId The id of a configured repository. (required)
     * @param path The XDIP path to the entity. (required)
     * @return ApiResponse&lt;Void&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<Void> deleteEntityWithHttpInfo(String configurationId, String path) throws ApiException {
        com.squareup.okhttp.Call call = deleteEntityCall(configurationId, path, null, null);
        return apiClient.execute(call);
    }

    /**
     * Delete an existing Entity (asynchronously)
     * Delete an existing Entity
     * @param configurationId The id of a configured repository. (required)
     * @param path The XDIP path to the entity. (required)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call deleteEntityAsync(String configurationId, String path, final ApiCallback<Void> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = deleteEntityCall(configurationId, path, progressListener, progressRequestListener);
        apiClient.executeAsync(call, callback);
        return call;
    }
    /* Build call for getEntity */
    private com.squareup.okhttp.Call getEntityCall(String configurationId, String path, List<String> scope, String include, String exclude, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;
        
        // verify the required parameter 'configurationId' is set
        if (configurationId == null) {
            throw new ApiException("Missing the required parameter 'configurationId' when calling getEntity(Async)");
        }
        
        // verify the required parameter 'path' is set
        if (path == null) {
            throw new ApiException("Missing the required parameter 'path' when calling getEntity(Async)");
        }
        

        // create path and map variables
        String localVarPath = "/entities/{configurationId}/{path}".replaceAll("\\{format\\}","json")
        .replaceAll("\\{" + "configurationId" + "\\}", apiClient.escapeString(configurationId.toString()))
        .replaceAll("\\{" + "path" + "\\}", apiClient.escapeString(path.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        if (scope != null)
        localVarQueryParams.addAll(apiClient.parameterToPairs("csv", "scope", scope));
        if (include != null)
        localVarQueryParams.addAll(apiClient.parameterToPairs("", "include", include));
        if (exclude != null)
        localVarQueryParams.addAll(apiClient.parameterToPairs("", "exclude", exclude));

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json;charset=UTF-8"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] {  };
        return apiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    /**
     * Get an Entity
     * Get an Entity
     * @param configurationId The id of a configured repository. (required)
     * @param path The XDIP path to the entity. (required)
     * @param scope A comma-separated list of scopes. The available scopes are: children, entity. (default: entity) (optional, default to entity)
     * @param include A comma-separated list of projection rules. Decorators which match these rules will be included. All other decorators will be excluded. By default, all decorators are included. (optional)
     * @param exclude A comma-separated list of projection rules. Decorators which match these rules will be excluded. (optional)
     * @return EntityResponse
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public EntityResponse getEntity(String configurationId, String path, List<String> scope, String include, String exclude) throws ApiException {
        ApiResponse<EntityResponse> resp = getEntityWithHttpInfo(configurationId, path, scope, include, exclude);
        return resp.getData();
    }

    /**
     * Get an Entity
     * Get an Entity
     * @param configurationId The id of a configured repository. (required)
     * @param path The XDIP path to the entity. (required)
     * @param scope A comma-separated list of scopes. The available scopes are: children, entity. (default: entity) (optional, default to entity)
     * @param include A comma-separated list of projection rules. Decorators which match these rules will be included. All other decorators will be excluded. By default, all decorators are included. (optional)
     * @param exclude A comma-separated list of projection rules. Decorators which match these rules will be excluded. (optional)
     * @return ApiResponse&lt;EntityResponse&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<EntityResponse> getEntityWithHttpInfo(String configurationId, String path, List<String> scope, String include, String exclude) throws ApiException {
        com.squareup.okhttp.Call call = getEntityCall(configurationId, path, scope, include, exclude, null, null);
        Type localVarReturnType = new TypeToken<EntityResponse>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * Get an Entity (asynchronously)
     * Get an Entity
     * @param configurationId The id of a configured repository. (required)
     * @param path The XDIP path to the entity. (required)
     * @param scope A comma-separated list of scopes. The available scopes are: children, entity. (default: entity) (optional, default to entity)
     * @param include A comma-separated list of projection rules. Decorators which match these rules will be included. All other decorators will be excluded. By default, all decorators are included. (optional)
     * @param exclude A comma-separated list of projection rules. Decorators which match these rules will be excluded. (optional)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call getEntityAsync(String configurationId, String path, List<String> scope, String include, String exclude, final ApiCallback<EntityResponse> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = getEntityCall(configurationId, path, scope, include, exclude, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<EntityResponse>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /* Build call for listEntities */
    private com.squareup.okhttp.Call listEntitiesCall(List<String> scope, String include, String exclude, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;
        

        // create path and map variables
        String localVarPath = "/entities".replaceAll("\\{format\\}","json");

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        if (scope != null)
        localVarQueryParams.addAll(apiClient.parameterToPairs("csv", "scope", scope));
        if (include != null)
        localVarQueryParams.addAll(apiClient.parameterToPairs("", "include", include));
        if (exclude != null)
        localVarQueryParams.addAll(apiClient.parameterToPairs("", "exclude", exclude));

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json;charset=UTF-8"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] {  };
        return apiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    /**
     * List Available Entities/Repositories
     * List Available Entities/Repositories
     * @param scope A comma-separated list of scopes. The available scopes are: children, entity. (default: entity) (optional, default to entity)
     * @param include A comma-separated list of projection rules. Decorators which match these rules will be included. All other decorators will be excluded. By default, all decorators are included. (optional)
     * @param exclude A comma-separated list of projection rules. Decorators which match these rules will be excluded. (optional)
     * @return EntityResponse
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public EntityResponse listEntities(List<String> scope, String include, String exclude) throws ApiException {
        ApiResponse<EntityResponse> resp = listEntitiesWithHttpInfo(scope, include, exclude);
        return resp.getData();
    }

    /**
     * List Available Entities/Repositories
     * List Available Entities/Repositories
     * @param scope A comma-separated list of scopes. The available scopes are: children, entity. (default: entity) (optional, default to entity)
     * @param include A comma-separated list of projection rules. Decorators which match these rules will be included. All other decorators will be excluded. By default, all decorators are included. (optional)
     * @param exclude A comma-separated list of projection rules. Decorators which match these rules will be excluded. (optional)
     * @return ApiResponse&lt;EntityResponse&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<EntityResponse> listEntitiesWithHttpInfo(List<String> scope, String include, String exclude) throws ApiException {
        com.squareup.okhttp.Call call = listEntitiesCall(scope, include, exclude, null, null);
        Type localVarReturnType = new TypeToken<EntityResponse>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * List Available Entities/Repositories (asynchronously)
     * List Available Entities/Repositories
     * @param scope A comma-separated list of scopes. The available scopes are: children, entity. (default: entity) (optional, default to entity)
     * @param include A comma-separated list of projection rules. Decorators which match these rules will be included. All other decorators will be excluded. By default, all decorators are included. (optional)
     * @param exclude A comma-separated list of projection rules. Decorators which match these rules will be excluded. (optional)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call listEntitiesAsync(List<String> scope, String include, String exclude, final ApiCallback<EntityResponse> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = listEntitiesCall(scope, include, exclude, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<EntityResponse>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /* Build call for updateEntity */
    private com.squareup.okhttp.Call updateEntityCall(String configurationId, String path, List<String> scope, String include, String exclude, EntityResponse entity, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = entity;
        
        // verify the required parameter 'configurationId' is set
        if (configurationId == null) {
            throw new ApiException("Missing the required parameter 'configurationId' when calling updateEntity(Async)");
        }
        
        // verify the required parameter 'path' is set
        if (path == null) {
            throw new ApiException("Missing the required parameter 'path' when calling updateEntity(Async)");
        }
        

        // create path and map variables
        String localVarPath = "/entities/{configurationId}/{path}".replaceAll("\\{format\\}","json")
        .replaceAll("\\{" + "configurationId" + "\\}", apiClient.escapeString(configurationId.toString()))
        .replaceAll("\\{" + "path" + "\\}", apiClient.escapeString(path.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        if (scope != null)
        localVarQueryParams.addAll(apiClient.parameterToPairs("csv", "scope", scope));
        if (include != null)
        localVarQueryParams.addAll(apiClient.parameterToPairs("", "include", include));
        if (exclude != null)
        localVarQueryParams.addAll(apiClient.parameterToPairs("", "exclude", exclude));

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json;charset=UTF-8"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            "application/json;charset=UTF-8"
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] {  };
        return apiClient.buildCall(localVarPath, "PUT", localVarQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    /**
     * Update an existing Entity
     * Update an existing Entity
     * @param configurationId The id of a configured repository. (required)
     * @param path The XDIP path to the entity. (required)
     * @param scope A comma-separated list of scopes. The available scopes are: children, entity. (default: entity) (optional, default to entity)
     * @param include A comma-separated list of projection rules. Decorators which match these rules will be included. All other decorators will be excluded. By default, all decorators are included. (optional)
     * @param exclude A comma-separated list of projection rules. Decorators which match these rules will be excluded. (optional)
     * @param entity  (optional)
     * @return EntityResponse
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public EntityResponse updateEntity(String configurationId, String path, List<String> scope, String include, String exclude, EntityResponse entity) throws ApiException {
        ApiResponse<EntityResponse> resp = updateEntityWithHttpInfo(configurationId, path, scope, include, exclude, entity);
        return resp.getData();
    }

    /**
     * Update an existing Entity
     * Update an existing Entity
     * @param configurationId The id of a configured repository. (required)
     * @param path The XDIP path to the entity. (required)
     * @param scope A comma-separated list of scopes. The available scopes are: children, entity. (default: entity) (optional, default to entity)
     * @param include A comma-separated list of projection rules. Decorators which match these rules will be included. All other decorators will be excluded. By default, all decorators are included. (optional)
     * @param exclude A comma-separated list of projection rules. Decorators which match these rules will be excluded. (optional)
     * @param entity  (optional)
     * @return ApiResponse&lt;EntityResponse&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<EntityResponse> updateEntityWithHttpInfo(String configurationId, String path, List<String> scope, String include, String exclude, EntityResponse entity) throws ApiException {
        com.squareup.okhttp.Call call = updateEntityCall(configurationId, path, scope, include, exclude, entity, null, null);
        Type localVarReturnType = new TypeToken<EntityResponse>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * Update an existing Entity (asynchronously)
     * Update an existing Entity
     * @param configurationId The id of a configured repository. (required)
     * @param path The XDIP path to the entity. (required)
     * @param scope A comma-separated list of scopes. The available scopes are: children, entity. (default: entity) (optional, default to entity)
     * @param include A comma-separated list of projection rules. Decorators which match these rules will be included. All other decorators will be excluded. By default, all decorators are included. (optional)
     * @param exclude A comma-separated list of projection rules. Decorators which match these rules will be excluded. (optional)
     * @param entity  (optional)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call updateEntityAsync(String configurationId, String path, List<String> scope, String include, String exclude, EntityResponse entity, final ApiCallback<EntityResponse> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = updateEntityCall(configurationId, path, scope, include, exclude, entity, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<EntityResponse>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
}
